streamlit==1.32.0
beautifulsoup4==4.12.3
requests==2.31.0
transformers==4.38.2
torch==2.2.2
gtts==2.5.1
pandas
nltk
fastapi
uvicorn
selenium==4.18.1
webdriver-manager
plotly==5.24.1
googletrans==4.0.0-rc1
